<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1>About</h1>
                   <hr class="small">
                   <span class="subheading">What is the The Hamiltonian?</span>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- Main Content -->
<div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="about-section">

          <p>In the 21st Century the United States will be beset by trends somewhat within her control, and mega-trends largely outside of her control, all the while operating within the coursing currents of her and the world’s history. We here at The Hamiltonian seek to aid her in this journey in writing and analysis. No doubt the United States is at a crossroads, a junction in history, and in the coming decades the question of who and what she is will be asked, debated, and answered. We hope to shape those coming debates in a constructive and positive manner.</p>

          <p>Our ultimate goal is to help the country become what she has always aspired to be: a more perfect union, a shining city on a hill; and place the country in a position to decide her fate vis-à-vis the world. We know the task before us is immense, daunting even; but it is not a task we will shirk from.</p>
          <p>-JCD</p> 
       </div>
   </div>
</div>

<!-- style="background-image: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/08/Black-Background-12.jpg')" -->