<header class="intro-header" id="intro-header-img" style="background-image: url('http://fluper.ru/ffh/17/flag_amerika_oblaka_nebo_patriotizm_2560x1600.jpg')" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container" id="users-index">
  <div class="row">
    <h3 align="center" class="user-index-title">Contributors</h3>
      <div class="index-users-list" align="center">
        <% @users.each do |user| %>
        	<% if user.admin? %>
        		<%= render user %>
        	<% end %>
        <% end %>
      </div>
  </div>
</div>

