<br>
<br>
<div class="container" id="users-index">
  <div class="row">
    <h3 align="center" class="user-index-title">Members</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
