<br>
<br>
<div class="container" id="users-index">
  <div class="row">
    <h3 align="center" class="user-index-title">Contributors</h3>
      <div class="index-users-list" align="center">
        <% @users.each do |user| %>
        	<% if user.admin? %>
        		<%= render user %>
        	<% end %>
        <% end %>
      </div>
  </div>
</div>

