// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-post-link { 
  font-family: 'engravure';
  color: black;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #af9d61;
}

#all-user-post {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid #af9d61;
}

#all-user-comment {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid #af9d61;
}